/* NavigationBar.css */

/* จัดวางแบรนด์และปุ่มแฮมเบอร์เกอร์ไม่ให้ติดขอบ */
.navbar {
  padding-left: 1rem; /* หรือระยะห่างที่คุณต้องการ */
  padding-right: 1rem; /* หรือระยะห่างที่คุณต้องการ */
}

/* ปรับขนาดและการจัดวางของ Navbar.Brand */
.navbar-brand {
  font-size: 1.5rem; /* ปรับตามขนาดที่ต้องการ */
  padding-left: 0; /* ลบการจัดวางขอบด้านซ้ายหากจำเป็น */
}

/* ปรับขนาดและการจัดวางของ Nav.Link */
.nav-link {
  font-size: 0.9rem; /* ปรับตามขนาดที่ต้องการ */
}

/* ปรับขนาดและการจัดวางของ Navbar.Toggle */
.navbar-toggler {
  padding: 0.25rem 0.5rem; /* ปรับระยะห่างและขนาดตามที่ต้องการ */
}

/* ใช้ media queries สำหรับปรับการแสดงผลบนหน้าจอขนาดต่างๆ */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.2rem; /* ปรับขนาดเล็กลงเมื่ออยู่บนหน้าจอขนาดเล็ก */
    padding-left: 1rem; /* หรือระยะห่างที่คุณต้องการเพื่อไม่ให้โลโก้ติดขอบหน้าจอ */
  }
  
  .navbar-toggler {
    padding-right: 1rem; /* หรือระยะห่างที่คุณต้องการเพื่อไม่ให้ปุ่มแฮมเบอร์เกอร์ติดขอบหน้าจอ */
  }
}

/* ปรับระยะห่างของลิงก์นำทางเมื่อแถบนำทางถูกยุบ */
.navbar-collapse {
  margin-top: 1rem; /* ปรับระยะห่างด้านบนหากจำเป็น */
}
