/* App.css */
/* สไตล์ทั่วไปที่ใช้กับทุกขนาดหน้าจอ */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Noto Sans Thai;
  }
  
  /* ปรับการแสดงผลสำหรับแท็บเล็ต */
  @media (max-width: 768px) {
    /* คุณสามารถปรับขนาดตัวอักษร, ระยะห่าง, หรืออื่นๆ ที่นี่ */
  }
  
  /* ปรับการแสดงผลสำหรับมือถือ */
  @media (max-width: 576px) {
    /* คุณสามารถปรับขนาดตัวอักษร, ระยะห่าง, หรืออื่นๆ ที่นี่ */
  }
  
  /* ปรับขนาดตัวอักษรเล็กลงเมื่อหน้าจอมีขนาดเล็ก */
  h1, h2, h3, h4, h5, h6 {
    @media (max-width: 768px) {
      font-size: 75%; /* ตัวอย่าง: ปรับขนาดเป็น 75% เมื่ออยู่บนแท็บเล็ต */
    }
  
    @media (max-width: 576px) {
      font-size: 60%; /* ตัวอย่าง: ปรับขนาดเป็น 60% เมื่ออยู่บนมือถือ */
    }
  }
  